<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514236381215-ovrtpil0psc038398ed8c9cm6ds1abte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514236381215-ovrtpil0psc038398ed8c9cm6ds1abte</string>
	<key>API_KEY</key>
	<string>AIzaSyAD69ds5OCrgRm1W36wJzNmhZcnJRdXtko</string>
	<key>GCM_SENDER_ID</key>
	<string>514236381215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sr.ledwifi.wifiLed</string>
	<key>PROJECT_ID</key>
	<string>iotdemo-a5feb</string>
	<key>STORAGE_BUCKET</key>
	<string>iotdemo-a5feb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514236381215:ios:c848ab0d0b79e895503d2a</string>
	<key>DATABASE_URL</key>
	<string>https://iotdemo-a5feb-default-rtdb.firebaseio.com</string>
</dict>
</plist>